Data Visualization

1- Preprocessing phase:

In [28]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Meriem\Desktop\AI\titanic-passengers.csv')

print(df.head().to_string(),'\n \n') 
df.info()

                   PassengerId;Survived;Pclass;Name;Sex;Age;SibSp;Parch;Ticket;Fare;Cabin;Embarked
343;No;2;Collander                                    Mr. Erik Gustaf;male;28.0;0;0;248740;13.0;;S
76;No;3;Moen                                   Mr. Sigurd Hansen;male;25.0;0;0;348123;7.65;F G73;S
641;No;3;Jensen                          Mr. Hans Peder;male;20.0;0;0;350050;7.8542000000000005;;S
568;No;3;Palsson               Mrs. Nils (Alma Cornelia Berglund);female;29.0;0;4;349909;21.075;;S
672;No;1;Davidson                                 Mr. Thornton;male;31.0;1;0;F.C. 12750;52.0;B71;S


<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 343;No;2;Collander to 428;Yes;2;"Phillips
Data columns (total 1 columns):
 #   Column                                                                           Non-Null Count  Dtype
---  ------                                                                           --------------  -----
 0   PassengerId;Survived;Pclass;Name;Sex;Age;SibSp;Parch;Ticket;Fare;Cabin;Embarked  891 non-null    object
dtypes: object(1)
memory usage: 13.9+ KB

In [20]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Meriem\Desktop\AI\titanic-passengers.csv')
df.isnull()

                     PassengerId;Survived;Pclass;Name;Sex;Age;SibSp;Parch;Ticket;Fare;Cabin;Embarked
343;No;2;Collander                                               False
76;No;3;Moen                                                     False
641;No;3;Jensen                                                  False
568;No;3;Palsson                                                 False
672;No;1;Davidson                                                False
...                                                                ...
10;Yes;2;Nasser                                                  False
61;No;3;Sirayanian                                               False
535;No;3;Cacic                                                   False
102;No;3;"Petroff                                                False
428;Yes;2;"Phillips                                              False

[891 rows x 1 columns]

In [30]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Meriem\Desktop\AI\titanic-passengers.csv')
print(df['Cabin'].head())

KeyError: 'Cabin'

2. Visualization phase: